<div class="row">
    <!-- Page Header -->
    <div class="col-md-9">
        <div class="page-header">
            <h1>eHealth-Academy <small>hap<span class="text-primary">py</span> coding</small></h1>
            <h3 class="text-muted">Welcome To <span class="text-primary">The</span> eHealth-Africa <span class="text-primary">learning</span> Platform</h3>

        </div>
    </div>
    <!-- End Page Header -->

    <div class="col-md-3">
            <h3 class="text-info">Visitors</h3>
            <script type="text/javascript" src="//ri.revolvermaps.com/0/0/8.js?i=82yc4qecehy&amp;m=0&amp;s=220&amp;c=ff0000&amp;cr1=ffffff&amp;f=arial&amp;l=33" async="async"></script>
    </div>
</div>

<!-- Navigation Tabs -->
<nav role="navigation">
    <ul class="nav nav-tabs nav-justified" role="tablist" id="navigation">
        <li role="presentation" class="active"><a href="/overview" aria-controls="overview" role="tab" data-toggle="tab">Overview</a></li>
        <li role="presentation"><a href="/lecture" aria-controls="lecture" role="tab" data-toggle="tab">Lectures</a></li>
        <li role="presentation"><a href="/projects" aria-controls="projects" role="tab" data-toggle="tab">Projects</a></li>
        <li role="presentation"><a href="/resources" aria-controls="resources" role="tab" data-toggle="tab">Resources</a></li>
        <li role="presentation"><a href="/info" aria-controls="info" role="tab" data-toggle="tab">Academy Info</a></li>
        <li role="presentation"><a href="/feedback" aria-controls="feedback" role="tab" data-toggle="tab">FeedBack</a></li>
     </ul>
</nav>
<!-- End Navigation Tabs -->

<!-- Overview Tab -->
<div role="tabpanel" class="tab-pane fade in active" id="overview">
    <div class="row">
         <!-- Column -->
         <div class="col-md-12">
             <h4 class="text-primary">Schedule</h4>

             <!-- Schedule -->
             <div class="schedule">
                 <div class="table-responsive panel panel-default">
                      <div class="panel-heading">Course Content</div>
                      <table class="table table-striped table-hover table-bordered">
                        <thead>
                          <tr>
                            <th style="width:12%">Weeks</th>
                            <th style="width:20%">Monday</th>
                            <th style="width:20%">Tuesday</th>
                            <th style="width:18%">Wednesday</th>
                            <th style="width:18%">Thursday</th>
                            <th style="width:30%">Friday</th>
                          </tr>
                        </thead>
                        <tbody>
                          <!--Schedules are inserted here by angular-->
                          <td><div class="panel-body text-primary">week 1
<p>Date</p></div></td>
                          <td><div class="panel-body">content</div></td>
                        </tbody>
                      </table>
                 </div>
             </div>
             <!-- End Schedule -->
                  
         </div>
         <!-- End Column -->
    </div>
</div>
<!-- End Overview Tab -->
