<!-- Overview Tab -->
<div role="tabpanel" class="tab-pane fade in active" id="overview">
    <div class="row">
         <!-- Column -->
         <div class="col-md-12">
             <h4 class="text-primary">Schedule</h4>

             <!-- Schedule -->
             <div class="schedule">
                 <div class="table-responsive panel panel-default">
                      <div class="panel-heading">Course Content</div>
                      <table class="table table-striped table-hover table-bordered">
                        <thead>
                          <tr>
                            <th style="width:12%">Weeks</th>
                            <th style="width:18%">Monday</th>
                            <th style="width:18%">Tuesday</th>
                            <th style="width:18%">Wednesday</th>
                            <th style="width:18%">Thursday</th>
                            <th style="width:18%">Friday</th>
                          </tr>
                        </thead>
                        <tbody>
                          <!--Schedules are inserted here by angular-->
                          <tr ng-repeat="content in vm.contents">
	                      <td><div class="panel-body text-primary">{{content.week}}</div></td>
                              <td><div class="panel-body">{{content.monday}}</div></td>
                              <td><div class="panel-body">{{content.tuesday}}</div></td>
                              <td><div class="panel-body">{{content.wednesday}}</div></td>
                              <td><div class="panel-body">{{content.thursday}}</div></td>
                              <td><div class="panel-body">{{content.friday}}</div></td>
                          </tr>
                        </tbody>
                      </table>
                 </div>
             </div>
             <!-- End Schedule -->
                  
         </div>
         <!-- End Column -->
    </div>
</div>
<!-- End Overview Tab -->
