{% load staticfiles %}
<!DOCTYPE html>
<html lang="en" ng-app="eHealth">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>eHealth-Learning</title>

    <!-- Bootstrap -->
    <link href="{% static 'bower_components/bootstrap/dist/css/bootstrap.min.css' %}" type="text/css" rel="stylesheet">
    <link href="{% static 'bower_components/bootswatch/paper/bootswatch.less' %}" type="text/css" rel="stylesheet">
    <link href="{% static 'style/styles.css' %}" type="text/css" rel="stylesheet">
    <link href="{% static 'bower_components/ng-dialog/css/ngDialog.min.css' %}" type="text/css" rel="stylesheet">
    <link href="{% static 'bower_components/ng-dialog/css/ngDialog-theme-default.min.css' %}" type="text/css" rel="stylesheet">
    <link href="{% static 'bower_components/snackbarjs/snackbar.min.css' %}" type="text/css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <base href="/">

  </head>
<body>

    <div class="container">
        <div class="row">
            <!-- Page Head -->
            <div class="row">
                <!-- Page Header -->
                <div class="col-md-9">
                    <div class="page-header">
                         <h1>eHealth-Academy <small>hap<span class="text-success">py</span> coding</small></h1>
                         <h3 class="text-muted">Welcome To <span class="text-success">The</span> eHealth-Africa <span class="text-success">learning</span> Platform</h3>

                    </div>
                </div>
                <!-- End Page Header -->

                <div class="col-md-3">
                    <h3 class="text-info">Visitors</h3>
                    <script type="text/javascript" src="//ri.revolvermaps.com/0/0/8.js?i=82yc4qecehy&amp;m=0&amp;s=220&amp;c=ff0000&amp;cr1=ffffff&amp;f=arial&amp;l=33" async="async"></script>
                </div>
            </div>

            <!-- Navigation Tabs -->
            <nav role="navigation">
                <ul class="nav nav-tabs nav-justified" role="tablist" id="navigation">
                    <li role="presentation" class="active"><a href="/lecture" aria-controls="lecture" role="tab" data-toggle="tab">Lectures</a></li>
                    <li role="presentation"><a href="/projects" aria-controls="projects" role="tab" data-toggle="tab">Projects</a></li>
                    <li role="presentation"><a href="/resources" aria-controls="resources" role="tab" data-toggle="tab">Resources</a></li>
                    <li role="presentation"><a href="/info" aria-controls="info" role="tab" data-toggle="tab">Academy Info</a></li>
                    <li role="presentation"><a href="/feedback" aria-controls="feedback" role="tab" data-toggle="tab">FeedBack</a></li>
                </ul>
            </nav>
            <!-- End Nav Tabs -->
            <div class="col-xs-12 ng-view"></div>
        </div>
    </div>

    <script src="{% static 'bower_components/jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'bower_components/bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'bower_components/angular/angular.min.js' %}"></script>
    <script src="{% static 'bower_components/angular-route/angular-route.min.js' %}"></script>
   <script src="{% static 'bower_components/ng-dialog/js/ngDialog.min.js' %}"></script>
   <script src="{% static 'bower_components/underscore.js' %}"></script>
   <script src="{% static 'bower_components/snackbarjs/snackbar.min.js' %}"></script>
<script src="{% static 'dist/js/eHealthScripts.min.js' %}"></script>
  </body>
</html>
