<div>
    <h3 class="text-primary">About The Academy</h3>
</div>
<!-- Course Info Tab -->
            <div role="tabpanel" id="info">
              <div class="row">
                <div class="col-md-12">
                  <div class="well lead">
                    The fundamentals and contemporary usage of Computer Science. Primary focus on developing best practices in writing Software, Developing Databases, GIS Applications, Implementing Good Networks, Good Security Roles and exploring the extensible and unique parts of Computer Science that makes it such a powerful Domain in Our Today World.
                  </div>
                  
                  <h4>Essential Links</h4>
                  <p class="lead">
                    <strong class="small"><a href="https://www.cs.hmc.edu/csforall/" target="_blank">Intro To CS</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>
                    <strong class="small"><a href="#" target="_blank">Syllabus</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>
                    <strong class="small"><a href="#" target="_blank">Attendies</a></strong>
                  </p>
                  
                  <h4>Basic Info</h4>

                  <dl class="dl-horizontal lead">

                    <dt>date / time</dt>
                    <dd>monday To friday 9:00 to 5:00</dd>
                    
                    <dt>location</dt>
                    <dd>Guinea, Conakry, Blue Zone</dd>

                    <dt>course staff</dt>
                    <dd>Mariame Bah Kante (@Mariame) / Alimou Traore (@Alimou) / Karifa Kouyate (@Karifa Kouyate) </dd>

                    <dt>prereqs</dt>
                    <dd>Basic IT Knowledge</dd>

                  </dl>

                  <h4>Instructors Basic Info</h4>
                  <dl class="dl-horizontal lead">
                    <dt>Ally Long</dt>
                    <dd>Designer & Frontend Developer (Work at The Berlin Office) / (ally.long@ehealthnigeria.org)</dd>
                    <dt>Evance Soumoro</dt>
                    <dd>FullStack Developer (Work at The Guinea Office) / (evance.soumaoro@gn.ehealthafrica.org)</dd>
                    <dt>Aboubacar Douno</dt>
                    <dd>FullStack Developer (Work at The Guinea Office) / (aboubacar.douno@gn.ehealthafrica.org)</dd>
                    <dt>Nathan Humphreys</dt>
                    <dd>Global DevOps Manager (Work at The Berlin Office) / (nathan.humphreys@ehealthnigeria.org)</dd>
                    <dt>Akinwale Opeyemi</dt>
                    <dd>Network Administrator (Work at The Nigeria Office) / (akinwale.opeyemi@ehealthnigeria.org)</dd>
                    <dt>Dave Henry</dt>
                    <dd>Global Data Analytics Manager (Work at The Nigeria Office) / (dave.henry@ehealthnigeria.org)</dd>
                    <dt>Dami Sonoiki</dt>
                    <dd>GIS Manager (Work at The Nigeria Office) / (dami.sonoiki@ehealthnigeria.org)</dd>
                    
                  </dl>
                  <h4>Topics Covered</h4>
                  <dl class="dl-horizontal lead">
                    <dt>Ally Long</dt>
                    <dd>Design</dd>

                    <dt>Evance </dt>
                    <dd>JavaScript & Mobile App</dd>

                    <dt>Douno</dt>
                    <dd>Angularjs & Project Managemente</dd>

                    <dt>Nathan</dt>
                    <dd>Linux Server, Python & Algorithms</dd>

                    <dt>Opeyemi</dt>
                    <dd>Networking</dd>

                    <dt>Dave Henry</dt>
                    <dd>Database & Data analysis</dd>
 
                    <dt>Dami Sonoiki</dt>
                    <dd>GIS</dd>
                  </dl>
                </div>
              </div>
            </div>
            <!-- End Course Info Tab -->
