<div>
    <h3 class="text-success">Slides and Videos</h3>
</div>
<!-- Lecture Tab --> 
            <div role="tabpanel" id="lecture">
              <!-- Lectures -->
                <div class="lectures">
                  <div class="table-responsive panel panel-default">
                    <div class="panel-heading">Lecture Material</div>
                    <div class="panel-body">
                      <p class="blurb">Lectures are generally five days per week, and are intended to intermediate Techies. Each lecture covers a particular aspect of a technology or its ecosystem. Lectures build on each other - that is, the material gets progressively more advanced throughout the quarter. Slides are heavily animated, so both the compressed and full versions of the slide decks are uploaded.</p>
                      <p class="blurb">Unfortunately, the Academy does not record full videos, but nevertheless the videos provided are from the experts. Our goal is that the videos are a helpful learning resource, and hopefully they improve the tech experience for you!</p>
                    </div>
                    <table class="table table-striped table-hover table-bordered">
                      <thead>
                          <tr>
                              <th>Topic</th>
                              <th>Slides</th>
                              <th>Video</th>
                          </tr>
                      </thead>
                      <tbody>
                        <tr>
                            <td><p>Welcome to Design</p></td>
                            <td><a href="https://drive.google.com/open?id=0Bz6Qg2cdvip_VkRoUVBMZ1kyYnM" target="blank">Course Slides</a></td>
                            <td><a href="https://www.youtube.com/watch?v=9fHSbiCISOA" target="blank">Video: on Css</a></td>
                        </tr>
                        <tr>
                            <td><p>JavaScript Fundamentals</p></td>
                            <td><a href="https://drive.google.com/open?id=0Bz6Qg2cdvip_WTlqMG83UmxCX0U" target="blank">Course Slides</a></td>
                            <td><a href="https://www.youtube.com/watch?v=v2ifWcnQs6M" target="blank">Video: Basics to Intermediate</a></td>
                        </tr>
                            <td><p>Angular Fundamentals</p></td>
                            <td><a href="https://drive.google.com/open?id=0Bz6Qg2cdvip_anNkRmhZVmdXbzA" target="blank">Course Slides</a></td>
                            <td><a href="https://drive.google.com/open?id=0Bz6Qg2cdvip_c2Z6UnpHSmNaS2s" target="blank">Video: Introduction</a></td>
                        </tr>
                        <tr>
                            <td><p>Intro To Linux</p></td>
                            <td><a href="https://drive.google.com/open?id=0Bz6Qg2cdvip_RDhIWmhaT0xDOEE" target="blank">Course Slides</a></td>
                            <td><a href="#">Video: Linux Basics</a></td>
                        </tr>
                        <tr>
                            <td><p>Server Basics</p></td>
                            <td><a href="#">Course Slides</a></td>
                            <td><a href="#">Video: Basic Server Setup</a></td>
                        </tr>
                        <tr>
                            <td><p>Python Fundamentals</p></td>
                            <td><a href="https://drive.google.com/open?id=0Bz6Qg2cdvip_SmZTUzBiS183eTg" target="blank">Course Slides</a></td>
                            <td><a href="https://drive.google.com/open?id=0Bz6Qg2cdvip_OGVhX3FTc2VEaE0" target="blank">Video: Intro To Python</a></td>
                        </tr>
                        <tr>
                            <td><p>Basic Algorithms</p></td>
                            <td><a href="https://drive.google.com/open?id=0Bz6Qg2cdvip_SkRORGp6eVpQbXc" target="blank">Course Slides</a></td>
                            <td><a href="#">Video: Intro Algorithms Thinking</a></td>
                        </tr>
                        <tr>
                            <td><p>Introduction To Security</p></td>
                            <td><a href="#">Course Slides</a></td>
                            <td><a href="#">Video: Security Basics</a></td>
                        </tr>
                        <tr>
                            <td><p>Networking Fundamentals</p></td>
                            <td><a href="https://drive.google.com/open?id=0Bz6Qg2cdvip_UDYxQXJtRDlCWGc" target="blank">Course Slides</a></td>
                            <td><a href="#">Video: Basic To Intermediate</a></td>
                        </tr>
                        <tr>
                            <td><p>SQL Databases</p></td>
                            <td><a href="#">Course Slides</a></td>
                            <td><a href="#">Video: Intro SQL DBs</a></td>
                        </tr>
                        <tr>
                            <td><p>NoSQL Databases</p></td>
                            <td><a href="#">Course Slides</a></td>
                            <td><a href="#">Video: Intro NoSQL DBs</a></td>
                        </tr>
                        <tr>
                            <td><p>GIS Basics</p>
                            <td><a href="#">Course Slide</a></td>
                            <td><a href="#">Video: Introduction To GIS</a></td>
                        </tr>
                        <tr>
                            <td><p>Project Management & Communication</p></td>
                            <td><a href="https://drive.google.com/open?id=0Bz6Qg2cdvip_M3FhSGFzS3kyRGR1WFQ1SzdmWGxLSHB0NE5F" target="blank">Course Slides</a></td>
                            <td><a href="#">Video: Intro To Project Management</a></td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                <!-- End Lectures -->
            </div>
            <!-- End Lecture Tab -->
