<div>
    <h3 class="text-success">{{vm.info}}</h3>
</div>
<!-- Labs Tab -->
            <div role="tabpanel" id="labs">
              <div class="labs">
                <div class="table-responsive panel panel-default">
                  <div class="panel-heading">Projects!</div>
                  <div class="panel-body">
                    <p class="blurb">The Projects provide a hands-on opportunity to experiment with the topics and concepts presented in lectures. Although students work on these projects in three days period, it would take much longer to fully complete a good project. Each project comes with a number of challenge problems that will take even the experiences programmer nontrivial time. projects are collaborative and open-source, Basicaly Helping you to think about how or why The Technologies we use as Tech Professionals makes their decisions.</p>
                    <p class="blurb">Each project is chosen by it's team to reinforce a particular concept, and you are encouraged to check them out. You are not expected to submit your project, although it will be good if you do. Think of projects as a chance to solidify your working knowledge of the Topics Covered - after all, what better way to learn Something than to practice it?</p>
                  </div>
                  <table class="table table-striped table-hover table-bordered">
                    <thead>
                      <tr>
                        <th>Authors</th>
                        <th>Project Name</th>
                        <th>Description</th>
                        <th>Repository</th>
                      </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="project in vm.projects">
                            <td>{{project.authors}}</td>
                            <td>{{project.name}}</td>
                            <td>{{project.description}}</td>
                            <td><a href="{{project.repo}}" target="blank">{{project.repo.slice(18)}}</td>
                        </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <!-- End Labs Tab -->
