<div>
    <h3 class="text-success">{{vm.head}}</h3>
</div>
 <!-- Resources Tab -->
            <div role="tabpanel" id="resources">
              <div class="row">
                <div class="col-md-6">
                  <div class="handouts">
                    <div class="table-responsive panel panel-default">
                      <div class="panel-heading">Readings</div>
                      <div class="panel-body">
                        <p class="blurb">These Books and Blogs they go deep in each of the Topics Covered just chose the one you like and Start Advancing your Knowledge. Currently, the blogs are just a list of articles I find interesting - there may be more structure in the future!</p>
                      </div>
                      <table class="table table-striped table-hover table-bordered">
                        <thead>
                            <tr>
                                <th>Books</th>
                                <th>Blogs</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><a href="https://drive.google.com/open?id=0Bz6Qg2cdvip_ZlVlMWZNZDIzR1U" target="blank">MIT's Intro To CS</a></td>
                                <td><a href="http://www.dimagi.com/blog/what-every-developer-should-know-about-couchdb/" target="blank">Couchdb Tips</a></td>
                            </tr>
                            <tr>
                                <td><a href="https://drive.google.com/open?id=0Bz6Qg2cdvip_a3l1VVpBejlMZ3c" target="blank">Js for Web Devs</a></td>
                                <td><a href="https://www.gislounge.com/how-to-go-from-gis-novice-to-pro-without-spending-a-dime/" target="bank">GIS Novice To Pro</a></td>
                            </tr>
                            <tr>
                                <td><a href="https://drive.google.com/open?id=0Bz6Qg2cdvip_aEZfSVRHVzJSUG8" target="blank">CSS3</a></td>
                                <td><a href="http://codeforces.com/blog/entry/13529" target="blank">Algorithms Made Easy</a></td>
                            </tr>
                            <tr>
                                <td><a href="https://drive.google.com/open?id=0Bz6Qg2cdvip_a3l1VVpBejlMZ3c" target="blank">HTML,CSS,JS</a></td>
                                <td><a href="https://thinkster.io/django-angularjs-tutorial" target="blank">Django & Angular</a></td>
                            </tr>
                            <tr>
                                <td><a href="https://drive.google.com/open?id=0Bz6Qg2cdvip_blc5eXF1X2ZoMFU" target="blank">Linux All-in-One</a></td>
                                <td><a href="https://thinkster.io/mean-stack-tutorial" target="blank">The MEAN Stack</a></td>
                            </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="readings">
                    <div class="table-responsive panel panel-default">
                      <div class="panel-heading">Videos</div>
                      <div class="panel-body">
                        <p>These optional Video materials are posted here to supplement the course material for those who are very interested in the Topics Covered. but you can ignore these; however, the material is fascinating and worth looking at. So we really encourage you to go through them if you want to know more about the Topics Covered.</p>
                      </div>
                      <table class="table table-striped table-hover table-bordered">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Video</th>
                                <th>Instructore</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td><a href="https://drive.google.com/open?id=0Bz6Qg2cdvip_OGVhX3FTc2VEaE0" target="blank">Python By Immbersion</a></td>
                                <td>Stuart Williams</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td><a href="https://www.youtube.com/watch?v=fju9ii8YsGs" target="blank">JavaScript Fundamentals</a></td>
                                <td>Derek Banas</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td><a href="https://drive.google.com/open?id=0Bz6Qg2cdvip_ejUyMnlESnNOdWc">Angularjs in 60 Minutes</a></td>
                                <td>Dan Wahlin</td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td><a href="https://drive.google.com/open?id=0Bz6Qg2cdvip_aTA5X3NRTFlqOU0" target="blank">How Not To InfoSec</a></td>
                                <td>Dan Tentler</td> 
                            </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- End Resources Tab -->
